/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --transition-duration: 0.5s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

html, 
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

*:hover {
  transition: all var(--transition-duration) ease-in-out;
}

a {
  text-decoration: none;
  transition: orange var(--transition-duration); 
}

a:hover {
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.orange-mode {
  transition: background 10s ease-in-out, color 5s ease-in-out;
}

.orange-mode:hover {
  background: orange;
  color: blue;
  transition: background 5s ease-in, color 5s ease-in;
}
